<div class="panel panel-default">
  <div class="panel-heading"><strong>Search for a card</strong></div>
  <div class="panel-body">
    <div class="input-group">
      <input id="search_card_input" type="text" class="form-control" placeholder="Enter card name">
      <span class="input-group-btn">
        <button id="search_card_button" class="btn btn-default" type="button">Search</button>
      </span>
    </div>

# if search_table
#    set hidden_prop = ""
# else
#    set hidden_prop = "hidden"
# endif

    <table id="search_table" class="table table-striped table-condensed table-hover" data-toggle="table" {{hidden_prop}}>
        {% if search_table %}
            {{ price_table(
                'Search',
                table_data=search_table,
                display_columns=['name', 'edition', 'price', 'owned'],
                display_footer=False,
                show_add_to_deck_button=True,
                only_table_contents=True,) }}
        {% endif %}
    </table>

  </div>
  <div class="panel-footer">
  </div>
</div>
