<div class="panel panel-default" id="export_card_list_panel" hidden>
  <div class="panel-heading clearfix">
  <h5 class="pull-left"><strong>Exported Card List</strong></h5>
    <div class="btn-group pull-right">
      <a id="useExportedCardListAsInput"
          class="btn btn-default"
      >Use as input</a>
      <a id="shareExportedCardList"
          class="btn btn-default"
      >Share</a>
      <a id="saveExportedCardList"
          class="btn btn-default"
      >Save to Library</a>
      <a id="downloadExportedCardList"
          class="btn btn-default"
          href="" download="card_list.txt"
      >Download</a>
    </div>
  </div>
  <div class="panel-body">
    <span id="export_card_list" style="white-space: pre-wrap; font-family: monospace;"></span>
  </div>
</div>
