<div class="panel panel-default">
  <div class="panel-heading">
    <strong>Input decklist</strong>
  </div>
  <form method="post" name="input" id="card_list_input_form">
  <div class="panel-body">
      {{ form.hidden_tag() }}
      <div class="form-group">
          <textarea class="form-control" id="card_list_input_textarea" name="text" rows="20" style="resize: vertical;" placeholder="Input your decklist">{{fill}}</textarea>
      </div>
  </div>
  <div class="panel-footer clearfix">
      <div class="btn-group pull-right">
          <button type="submit" class="btn btn-default" formaction="input">Look it up</button>
          <button type="submit" class="btn btn-default" formaction="deck/0">Build deck</button>
      </div>
  </div>
  </form>
</div>
