<div class="panel panel-default">
  <div class="panel-heading">
    <strong>Input decklist</strong>
  </div>
  <form action="deck/0" method="post" name="input" id="card_list_input_form">
  <div class="panel-body">
      {{ form.hidden_tag() }}
      <div class="form-group">
          <textarea class="form-control" id="card_list_input_textarea" name="text" rows="20" style="resize: vertical;" placeholder="Input your decklist">{{fill}}</textarea>
      </div>
  </div>
  <div class="panel-footer clearfix">
      <input type="submit" name="submit" value="Look it up!" class="btn btn-primary pull-right">
  </div>
  </form>
</div>
