<div class="panel panel-default">
  <div class="panel-heading">
    <strong>Decks</strong>
  </div>
  <div class="panel-body">
    <table id="decks_table" class="table table-striped table-condensed table-hover" data-toggle="table">
      <thead>
        <tr>
          <th> Deck name </th>
          <th> Color </th>
          <th> # of cards </th>
          <th> cost </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>All cards</td>
          <td></td>
          <td>1101</td>
          <td>2546</td>
        </tr>
        <tr>
          <td><a href="/deck/1">Deck 1</a></td>
          <td></td>
          <td>60</td>
          <td>254</td>
        </tr>
        <tr>
          <td><a href="/deck/2">Deck 2</a></td>
          <td></td>
          <td>40</td>
          <td>554</td>
        </tr>
        <tr>
          <td><a href="/deck/3">Deck 3</a></td>
          <td></td>
          <td>60</td>
          <td>112</td>
        </tr>
        <tr>
          <td><a href="/deck/4">Deck 4</a></td>
          <td></td>
          <td>80</td>
          <td>75</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
