<!-- extend from base layout -->
{% extends "base.html" %}

{% from 'page_parts/price_table.html' import price_table %}

{% block content %}
{% if library_table and deck_table %}
<div style="width: 270px; position:fixed;">
    <!-- Card preview -->
    {% include 'page_parts/card_preview.html' %}
    <!-- Db info -->
    {% if db_info %}
        {% include 'page_parts/db_info.html' %}
    {% endif %}
</div>
<div class="row">
    <div class="col-md-12" style="padding-left:315px;">
        <div class="col-md-6">
            <!-- Search for a card -->
            {% include 'page_parts/card_search.html' %}
            <!-- Library price table -->
            {{ price_table(
                'Library',
                table_data=library_table,
                display_columns=['name', 'edition', 'count', 'price'],
                display_footer=False,
                count_as_input=False,) }}
        </div>
        <div class="col-md-6">
            <!-- Deck price table -->
            {{ price_table('Deck', table_data=deck_table) }}
            <!-- Export card list -->
            {% include 'page_parts/export_card_list.html' %}
        </div>
    </div>
</div>
{% else %}
<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading"><strong>No cards in Deck.</strong></div>
  </div>
</div>
{% endif %}

{% if log %}
<div class="col-md-9">
    <!-- Log -->
    {% include 'page_parts/log.html' %}
</div>
{% endif %}
{% endblock %}
