<!-- extend from base layout -->
{% extends "base.html" %}

{% from 'page_parts/price_table.html' import price_table %}

{% block content %}
<div class="col-md-3">
    <!-- Input decklist form -->
    {% include 'page_parts/input_decklist.html' %}
</div>

{% if output_table %}
<div class="col-md-9">
    <div style="width: 270px; position:fixed;">
        <!-- Card preview -->
        {% include 'page_parts/card_preview.html' %}
        <!-- Db info -->
        {% if db_info %}
            {% include 'page_parts/db_info.html' %}
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-12" style="padding-left:315px;">
            <!-- Output price table -->
            {{ price_table(
                'Output',
                output_table,
                table_id="out_table",
                display_columns=['name', 'manacost', 'edition', 'count_input', 'price', 'multiprice'],
                buttons_to_render=['exportCardList',]) }}
            <!-- Export card list -->
            {% include 'page_parts/export_card_list.html' %}
        </div>
    </div>
</div>
{% else %}
<div class="col-md-9">
    <div class="panel panel-default">
        <div class="panel-heading"><strong>No input.</strong></div>
    </div>
</div>
{% endif %}

{% if log %}
<div class="col-md-9">
    <!-- Log -->
    {% include 'page_parts/log.html' %}
</div>
{% endif %}
{% endblock %}
